#follow-instagram-310594, article, div, footer, header, main, nav, section {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body, button, input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#show-follow-instagram-popup .popup-container {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

#show-follow-instagram-popup .popup-container .close-popup {
    background: 0 0;
    border: 0;
    cursor: pointer;
    height: 36px;
    outline: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#show-follow-instagram-popup .popup-container .close-popup::before {
    color: #fff;
    content: '\00D7';
    display: block;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    padding: 0;
    margin: 0;
}


#follow-instagram-310594 .follow-container {
    width: 77px;
    height: 77px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../../../../statics/images/instagram_white.png);
}
